{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
        <!-- Page content-->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Post content-->
                        <article>
                            <!-- Post content-->
                            <section class="mb-5">

                                <h2 class="text-muted fst-italic mb-1 text-center"><strong>has cerrado sesion, vuelve pronto</strong></h2>
                                <h3 class="text-muted fst-italic mb-1 text-center"><strong>aqui te espereremos, AnKay</strong></h3>
                                <p class="text-muted fst-italic mb-3 text-center">los saluda Ankay vy Nicolas.amato</p>
                            </section>
{% endblock %}

